* {
  margin: 0;
}

body {
  background-color: black;
  color: rgb(191, 191, 188);
  font-family: "Josefin Sans", sans-serif;
  background-image:url(assets/texture4.jpg);
    background-size: cover;
    background-position: center;
    /* z-index: -1; */
    /* background-repeat: no-repeat; */
}



@media (max-width: 600px) {
  .name-section {
    /* background-image:url(assets/texture2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    
    
    
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 0, 0, 0.346); */
    font-size: 4vw;
  }
  .sub-heading {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .domains {
    display: grid;
    gap: 10px;
    margin-top: 5%;
    backdrop-filter: blur(1px);
    /* background-color: rgba(0, 0, 0, 0.3) */
  }
  .cards {
    display: flex;
    width: 80vw;
    height: 12vh;
    gap: 10px;
    /* background-color: blue; */
    border: 2px solid #E65100;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .middle{
    border: none;
    
  }
  .langs{
    margin-top: 5%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;

  }
  .logos{
    height: 100px;
    width: 110px;
  }
}
