* {
  margin: 0px;
}

body {
  background-image: url(assets/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: beige;
  font-family: "Josefin Sans", sans-serif;
}

#hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
  margin-top: 150px;
  font-size: 1.5rem;
}

.langs {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

#html-logo {
  transition: transform 200ms ease-in-out;
}

#html-logo:hover {
  transform: scale(1.25);
}
#css-logo {
  transition: transform 200ms ease-in-out;
}

#css-logo:hover {
  transform: scale(1.25);
}
#js-logo {
  transition: transform 200ms ease-in-out;
}

#js-logo:hover {
  transform: scale(1.25);
}

